{% extends 'apps/base.html' %}

{% block base %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <!-- Order Status Chart -->
                <div class="d-flex justify-content-center">
                    <canvas class="w-75" id="order-chart"></canvas>
                </div>

                <!-- Regions Chart -->
                <div class="d-flex justify-content-center mt-5">
                    <canvas class="w-75" id="regions-chart"></canvas>
                </div>

                <!-- Products Chart -->
                <div class="d-flex justify-content-center mt-5">
                    <canvas class="w-75" id="products-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Utility function to create charts
            const createChart = (ctx, type, labels, data, backgroundColors, borderColors, label) => {
                return new Chart(ctx, {
                    type: type,
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: data,
                            backgroundColor: backgroundColors,
                            borderColor: borderColors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                            }
                        }
                    }
                });
            };

            // Order Status Chart
            const orderStatusData = {{ order_status_data|safe }};
            const orderLabels = orderStatusData.map(item => item.status);
            const orderCounts = orderStatusData.map(item => item.count);
            const orderCtx = document.getElementById('order-chart').getContext('2d');
            createChart(orderCtx, 'bar', orderLabels, orderCounts, ['#3498db', '#e74c3c', '#f39c12'], ['#2980b9', '#c0392b', '#e67e22'], 'Holati bo\'yicha buyurtmalar soni');

            // Regions Chart
            const regionData = {{ region_data|safe }};
            const regionLabels = regionData.map(item => item['region__name']);
            const regionCounts = regionData.map(item => item.count);
            const regionCtx = document.getElementById('regions-chart').getContext('2d');
            createChart(regionCtx, 'pie', regionLabels, regionCounts,
                ['#3498db', '#e74c3c', '#f39c12', '#1abc9c', '#9b59b6', '#34495e', '#e67e22', '#2ecc71', '#9b59b6', '#8e44ad', '#f1c40f', '#95a5a6'],
                ['#2980b9', '#c0392b', '#e67e22', '#16a085', '#8e44ad', '#2c3e50', '#d35400', '#27ae60', '#8e44ad', '#7d3c98', '#f39c12', '#7f8c8d'],
                'Viloyatlar bo\'yicha buyurtmalar soni');

            // Products Chart
            const productData = {{ product_data|safe }};
            const productLabels = productData.map(item => item['product__name']);
            const productCounts = productData.map(item => item.count);
            const productCtx = document.getElementById('products-chart').getContext('2d');
            createChart(productCtx, 'doughnut', productLabels, productCounts,
                ['#3498db', '#e74c3c', '#f39c12', '#1abc9c', '#9b59b6', '#34495e', '#e67e22', '#2ecc71', '#9b59b6', '#8e44ad', '#f1c40f', '#95a5a6'],
                ['#2980b9', '#c0392b', '#e67e22', '#16a085', '#8e44ad', '#2c3e50', '#d35400', '#27ae60', '#8e44ad', '#7d3c98', '#f39c12', '#7f8c8d'],
                'Products');
        });
    </script>
{% endblock %}
