{% extends 'apps/base.html' %}
{% load static %}

{% block base %}
    <style>
        .card-body {
            padding: 1rem;
        }

        .table {
            font-size: 1.1rem; 
        }

        @media (max-width: 768px) {
            .table {
                font-size: 0.8rem; 
            }

            {#.table thead {#}
            {#    display: none; /* Hide header for mobile view */#}
            {#}#}

            .table, .table tbody, .table tr, .table td {
                display: block;
                width: 100%;
                margin-bottom: 1rem;
                border: 1px solid #ddd;
                border-radius: 0.5rem;
            }

            .table td {
                text-align: right; /* Align text to the right */
                padding-left: 50%;
                position: relative;
            }

            .table td::before {
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 1rem;
                font-weight: bold;
                {#white-space: nowrap;#}
            }

            .table td:nth-of-type(1)::before {
                content: "#";
            }

            .table td:nth-of-type(2)::before {
                content: "Buyurtma beruvchi";
            }

            .table td:nth-of-type(3)::before {
                content: "Mahsulot";
            }

            .table td:nth-of-type(4)::before {
                content: "Oqim";
            }

            .table td:nth-of-type(5)::before {
                content: "Buyurtmachi";
            }

            .table td:nth-of-type(6)::before {
                content: "Viloyat";
            }

            .table td:nth-of-type(7)::before {
                content: "Holat";
            }

            .table td:nth-of-type(8)::before {
                content: "Buyurtmachi Nomeri";
            }

            .table td:nth-of-type(9)::before {
                content: "Sana";
            }
        }
    </style>

    <div class="card-body d-flex justify-content-between">
        <div>
            <a class="btn btn-falcon-default btn-sm" href="/admin_page" data-bs-toggle="tooltip"
               data-bs-original-title="Orqaga">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14"
                     data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Buyurtma beruvchi (Operator)</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Buyurtmachi Nomeri</th>
                            <th scope="col">Sana</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                        {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.owner.first_name }}</td>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.stream.name }}</td>
                                <td>{{ order.full_name }}</td>
                                <td>{{ order.region.name }}</td>
                                <td>{{ order.get_status_display }}</td>
                                <td>{{ order.phone }}</td>
                                <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">No orders found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
