{% extends 'apps/base.html' %}
{% load static %}

{% block base %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                    <div class="cover-image">
                        <div class="bg-holder rounded-3 rounded-bottom-0"
                             style="background-image:url(/static/new_design/assets/img/generic/4.jpg);">
                        </div>
                        <input class="d-none" id="upload-cover-image" type="file">

                    </div>
                    <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                        <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                            <img src="
                                    
                                    
                                    
                                    
                                    {% if user.image %}{{ user.image.url }}{% else %}{% static 'apps/assets/img/nouser.png' %}{% endif %}"
                                 width="200" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Sozlamalar</h5>
                </div>
                <div class="card-body bg-light">
                    <form class="row g-3" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            <h6>Ism</h6>
                            <input type="text" placeholder="Ismingizni kiriting:" name="first_name" value="{{ user.first_name }}" class="form-control"
                                   maxlength="30" required>
                        </div>
                        <div class="col-lg-6">
                            <h6>Familiya</h6>
                            <input type="text" name="last_name"placeholder="Familiyangizni kiriting:" value="{{ user.last_name }}" class="form-control"
                                   maxlength="40" required>
                        </div>
                        {#                        <div class="col-lg-6">#}
                        {#                            Telefon#}
                        {#                            <input type="text" name="phone" value="{{ user.phone }}" class="form-control" maxlength="12"#}
                        {#                                   required>#}
                        {#                        </div>#}
                        <div class="col-lg-6">
                            <h6>Telegram ID</h6>
                            <input type="text" name="telegram_id"  value="{{ user.telegram_id }}" class="form-control"
                                   maxlength="255" placeholder="Telegram ID ni kiriting">
                        </div>
                        <div class="col-lg-6">
                            <h6>Viloyat</h6>
                            <select name="region" class="form-control" id="id_region"
                                    onchange="fetchDistricts(this.value)" required>
                                <option value="">Viloyatni tanlang</option>
                                {% for region in regions %}
                                    <option value="{{ region.id }}"
                                            {% if user.district and user.district.region.id == region.id %}selected{% endif %}>{{ region.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <h6>Shahar/Tuman</h6>
                            <select name="district" class="form-control" id="id_district" required>
                                <option value="">Tumanni tanlang</option>
                                {% for district in districts %}
                                    <option value="{{ district.id }}"
                                            {% if district.id == user.district.id %}selected{% endif %}>{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <h6>Manzil</h6>
                            <input type="text" name="address" value="{{ user.address }}" class="form-control"
                                   maxlength="255" placeholder="Aniq Manzilingizni kiriting:" required>
                        </div>
                        <div class="col-lg-6">
                            <h6>Siz haqingizda</h6>
                            <textarea name="about" class="form-control" placeholder="O'zingiz haqida ma'lumot kiriting" maxlength="399"
                                      required>{{ user.about }}</textarea>
                        </div>

                        <div class="col-lg-6">
                            <br>
                            
                            <h6>Rasm o'zgartirish</h6>
                            
                            <br>

                            <input type="file" placeholder="Raasmingizni kiriting" name="image">

                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Parolni o'zgartirish</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form method="post" action="{% url 'update_password' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="old-password"><h6>Oldingi parol</h6></label>
                                <input class="form-control" placeholder="Eski parolni kiriting" id="old-password" type="password" name="password"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password"><h6>Yangi parol</h6></label>
                                <input class="form-control" placeholder="Yangi parolni kiriting" id="new-password" type="password" name="new_password1"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirm-password"><h6>Yangi parolni takrorlash</h6></label>
                                <input class="form-control" id="confirm-password" placeholder="Yangi parolni yana kiriting" type="password" name="new_password2"
                                       required>
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">Parolni yangilash</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function fetchDistricts(regionId) {
            const districtSelect = document.getElementById('id_district');
            districtSelect.innerHTML = '<option value="">Tumanni tanlang</option>'; // O'zgaruvchini tozalang

            if (regionId) {
                fetch(`/districts?region_id=${regionId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(district => {
                            const option = document.createElement('option');
                            option.value = district.id;
                            option.textContent = district.name;
                            districtSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            }
        }
    </script>
{% endblock %}
