{% extends 'apps/base.html' %}
{% load static %}

{% block base %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container" style="padding-top: 10px;">
                <div class="content_cart">

                    <div class="content_single-product-nouser">
                        <div class="row">
                            {% for order in orders %}
                                {% if order.status != order.Type.BEKOR_QILINDI and order.status != order.Type.YETKAZIB_BERILDI %}

                                    <div class="col-md-4 p-5">
                                        <h3>Mahsulot: {{ order.product.name }}</h3>  <!-- Access product name -->
                                        <small>Mahsulot narxi: {{ order.price }}</small>
                                        <!-- Access product price -->
                                        <p>Soni: {{ order.quantity }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
