{% extends 'apps/base.html' %}
{% load static %}

{% block base %}
    <style>
        .content_cart {
            padding: 10px 0;
        }

        .product-card {
            background-color: #f8f9fa; /* Light background for better visibility */
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            transition: transform 0.3s;
            height: 100%; /* Ensure all cards have the same height */
            display: flex; /* Use flexbox to align content */
            flex-direction: column; /* Stack children vertically */
            justify-content: space-between; /* Space out children */
        }

        .product-card:hover {
            transform: scale(1.07); /* Scale effect on hover */
        }

        .product-card h3, .product-card small, .product-card p {
            margin: 0; /* Remove default margins */
        }

        @media (max-width: 768px) {
            .product-card {
                margin-bottom: 15px; /* Space between cards on smaller screens */
            }

            .product-card h3 {
                font-size: 1.2rem; /* Smaller title font size */
            }

            .product-card small {
                font-size: 0.9rem; /* Smaller price font size */
            }

            .product-card p {
                font-size: 0.9rem; /* Smaller quantity font size */
            }
        }

        @media (max-width: 480px) {
            .product-card h3 {
                font-size: 1rem; /* Even smaller title font size */
            }

            .product-card small, .product-card p {
                font-size: 0.8rem; /* Further reduce sizes for mobile */
            }
        }
    </style>

    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="content_cart">
                    <div class="content_single-product-nouser">
                        <div class="row">
                            {% for order in orders %}
                                {% if order.status != order.Type.BEKOR_QILINDI and order.status != order.Type.YETKAZIB_BERILDI %}
                                    <div class="col-md-4 col-sm-6 col-12 p-3">
                                        <div class="product-card">
                                            <h3 style="color: black">Mahsulot: {{ order.product.name }}</h3>
                                            <small style="color: black">Mahsulot narxi: {{ order.product.price }}
                                                so'm</small>
                                            <p style="color: black">Soni: {{ order.quantity }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
