<style>
    .btn-falcon-default {
        color: white; /* Text color */
        background-color: red; /* Background color */
        border: none; /* Remove border */
        transition: background-color 0.3s ease; /* Smooth transition */
    }

    .btn-falcon-default:hover {
        background-color: transparent; /* Change background to transparent on hover */
        {#color: blue; /* Use the text color from the parent element */#}
    }

    /* Additional styling for disabled buttons */
    .btn-falcon-default:disabled {
        border-color: red /* Grey out disabled buttons */
        cursor: not-allowed; /* Show not-allowed cursor */
    }
</style>
